/* .body {
    background-color: aqua;
} */

#marca {
    background-color: aqua;
}

ul.nav-list {
    list-style: none;
    display: flex;
}

li.nav-item {
    margin-right: 30px; /* Opcional: agregar espaciado entre los elementos de la lista */
}

#registro{
    margin-top: 20px;
}

.zoom-image-container {
    overflow: hidden;
    position: relative;
}

.zoom-image {
    width: 100%;
    transition: transform 0.2s;
}

.zoom-image:hover {
    transform: scale(2);
 } /* Cambia el valor para ajustar el

  

 