/* .body {
    background-color: aqua;
} */

#marca {
    background-color: aqua;
}

ul.nav-list {
    list-style: none;
    display: flex;
}

li.nav-item {
    margin-right: 30px; /* Opcional: agregar espaciado entre los elementos de la lista */
}

#registro{
    margin-top: 20px;
}

.zoom-image-container {
    overflow: hidden;
    position: relative;
}

.zoom-image {
    width: 100%;
    transition: transform 0.2s;
}

.zoom-image:hover {
    transform: scale(2);
 }


 .pieDePagina {
    display: flex;
    margin-top: 5px;
    background-color: black;
    height: auto;
    padding-left: 20px;
    text-align: center;
    padding-bottom: 15px;
 }
 
#pieDePaginaUno{
    width: 380px;
    margin-top: 15px;
    color: white;
    padding-left: 20px;
    margin-left: 40px;
    font-size: 18px;
    border-right: 1px solid white;
}

#pieDePaginaUno:last-child {
    border-right: none;
}

footer{
    background-color: black;
    height: auto;
    padding-bottom: 10px;
    color: white;
   
}

.final {
    padding-left: 30px;
}

